
.section-header {
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1.1rem;
}

.bg-custom-blue {
    background-color: #1A8FE3;
    color: #fff;
}

.bg-custom-green {
    background-color: #28a745;
    color: #fff;
}

.bg-custom-yellow {
    background-color: #ffc107;
    color: #212529;
}

.bg-custom-red {
    background-color: #dc3545;
    color: #fff;
}

.radio-spacing label {
    margin-right: 2rem; /* Adjust spacing as needed */
}


